{
    "yahoo_user":  "",
    "yahoo_pass":  "",
    "alphavantage_key":  "",
    "ib_gateway_port":  0,
    "database_connection":  "",
    "mail_proxy":  "",
    "pubweb_proxy":  "",
    "nexus_api_key":  "",
    "sim_imsi":  "",
    "sim_poll_interval_minutes":  0,
    "gmail_user":  "",
    "gmail_app_pwd":  "",
    "nexus_oauth_client_id":  "",
    "nexus_oauth_client_secret":  "",
    "ocbc_statement_passwords":  [

                                 ]
}
